<!-- src/app/login/login.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="userAuthForm" (ngSubmit)="handleAuthentication()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-button slot="end" (click)="isPasswordVisible = !isPasswordVisible">
        <ion-icon [name]="isPasswordVisible ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-button expand="full" type="submit">Login</ion-button>
  </form>

  <ion-button expand="full" (click)="handleRegistration()">Create Account</ion-button>
  <ion-button expand="full" (click)="handlePasswordReset()">Forgot Password?</ion-button>
</ion-content>
